<div id="current-voting" layout="column">
  <div flex="60" layout="row">
    <div flex="20" layout="column" layout-align="center center">
      <div layout="column" layout-align="center center" ng-hide="costam">
        <h4>{{ selected.currentVoting.group }}</h4>
        <h1>Score: 6.5</h1>
        <h2>Place: 10</h2>
      </div>
    </div>
    <div flex="40" layout="column" layout-align="center center">
      <div ng-include src="'contest/live-contest/contestant-overview.html'" include-replace></div>
    </div>
    <div flex="40" layout="column" layout-align="center center">
      <div ng-if="currentUser.role === 'admin'" flex="20" layout="row" layout-align="center center">
        <div flex="50" ng-if="!selected.currentVoting.isPaused">
          <md-button class="md-raised md-accent" ng-disabled="!selected.currentVoting.votingStarted || !selected.liveNow" ng-click="pauseContest()">pause</md-button>
        </div>
        <div flex="50" ng-if="selected.currentVoting.isPaused">
          <md-button class="md-raised md-accent" ng-click="resumeContest()">resume</md-button>
        </div>
        <div ng-if="!selected.votingEnabled" flex="50">
          <md-button class="md-raised md-primary" ng-disabled="!selected.liveNow || selected.currentVoting.votingStarted" ng-click="votingStarted()">start voting</md-button>
        </div>
        <div ng-if="selected.liveNow" flex="50">
          <md-button class="md-raised md-primary" ng-disabled="!allVotesCollected" ng-click="nextContestant()">next</md-button>
        </div>
      </div>
      <div flex="50" layout="column" layout-align="center center">
        <h2>Time left: {{ timeLeft | secondsToMinutes }}</h2>
        <div ng-if="!timesUp" layout="column" layout-align="center center">
          <md-progress-circular md-mode="determinate" value="{{ timeLeft / 1.2 }}"></md-progress-circular>
        </div>
      </div>
      <div ng-if="currentUser.role === 'admin' && selected.liveNow && timesUp && !allVotesCollected" flex="20" layout="row" layout-align="center center">
        <md-button class="md-raised md-warn" ng-click="alertRefrees()">alert refrees</md-button>
      </div>
      <div ng-if="currentUser.role === 'admin' && !selected.liveNow" flex="20" lavout="row" layout-align="center none" layout-padding>
        <md-button class="md-raised md-warn" ng-click="startContest()">start contest</md-button>
      </div>
      <div ng-if="currentUser.role === 'admin' && selected.liveNow" flex="20" lavout="row" layout-align="center none" layout-padding>
        <md-button class="md-raised md-warn" ng-click="endContest()">end contest</md-button>
      </div>
    </div>
  </div>
  <div flex="40" layout="column" layout-align="center none">
    <div ng-if="currentUser.role !== 'refree'">
      <ng-include src="'contest/live-contest/scores.html'"></ng-include>
    </div>
    <div ng-if="currentUser.role === 'refree'">
      <ng-include src="'contest/live-contest/voting-sliders.html'"></ng-include>
    </div>
  </div>
</div>
