<div ng-controller="CreateContestCtrl">
  <md-tabs md-dynamic-height md-selected="tabIndex">
    <div ng-repeat="tab in tabs">
      <md-tab id="tab{{$index+1}}" ng-disabled="tab.disabledd">
        <md-tab-label>{{tab.label}}</md-tab-label>
        <md-tab-body>
          <ng-include src="tab.template"></ng-include>
        </md-tab-body>
      </md-tab>
    </div>
  </md-tabs>
  <div class="nav-bottom" layout-gt-sm="row">
    <div flex="80">
      <md-button class="md-raised md-accent" ng-click="previous()">Previous</md-button>
      <md-button ng-if="!isLastTab()" class="md-raised md-primary" ng-click="next()">Next</md-button>
      <md-button ng-if="isLastTab()" class="md-raised md-primary" ng-click="submit()">Finish</md-button>
    </div>
    <div flex="20">
      <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
    </div>
  </div>
</div>
