[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body, [ng-view] {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

md-toolbar {
  h1, h2, h3, h4, h5, h6 {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Sidenav area */

md-list-item > button {
  width: 100%;
  text-align: center;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

md-content {
  overflow: hidden;
}

#content {
  overflow: auto;
}
