<div flex="35" layout="column" layout-align="center center" layout-padding>
  <h1>{{ selected.currentVoting.contestant.horse.name }}</h1>
  <h3>No. {{ selected.currentVoting.contestant.number }}</h3>
</div>
<div flex="50" layout="column" layout-align="center center">
  <div id="horse-picture-container">
    <img id="horse-picture" class="circle" src="/images/horse-picture.jpg" alt=""/>
  </div>
</div>
<div flex="25" layout="column" layout-align="center center">
  <label>Breeder</label>
  <h2>
    {{ selected.currentVoting.contestant.horse.breeder.name }}
    {{ selected.currentVoting.contestant.horse.breeder.surname }}
  </h2>
</div>
